:root {
    --time: 400ms;
}
.go-out {
    animation-name: out;
    animation-duration: var(--time);
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
}

@keyframes out {
    0% {
        transform: translateX(0px);
    }

    100% {
        height: 0;
        transform: translateX(100vw);
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: #f09819;
    }

    50% {
        border-color: transparent;
    }

    75% {
        border-color: #f09819;
    }

    100% {
        border-color: transparent;
    }
}

.image-magic {
    transform: scale(0.2) !important;
    transition: all 0.5s !important;
    cursor: pointer;
    z-index: 9999999;
}
.image-magic:hover {
    transform: scale(1) !important;
}
.time-warp {
    position: fixed;
    left: 5px;
    bottom: 5px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 99998;
}
.countdown-box {
    padding: 5px 0;
    width: 80px;
    text-align: center;
    box-sizing: border-box;
    color: beige;
    z-index: 99998;
    font-family: Akrobat-Black;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}
.countdown-box:hover{
    background: beige !important;
    color: #141414 !important;
    z-index: 99999;
}
.countdown-box-title {
    display: block;
    font-size: 14px;
    color: #141414;
    opacity: 0;
    max-height: 0;
    font-family: smiley-sans;
}
.countdown-box:hover .countdown-box-title{
    opacity: 1;
    max-height: 50px;
}

.countdown-box:hover .countdown-box-text{
    color: #141414 !important;
}

.note-book-box {
    font-size: 14px;
    position: fixed;
    top: 10px;
    left: 10px;
    border: 2px dashed transparent;
    border-radius: 4px;
    transition: border-color .4s, backdrop-filter .4s, color .3s, background-color .4s;
    z-index: 99999;
    user-select: none;
    overflow: hidden;
    min-height: 50px;
    min-width: 50px;
    cursor: move;
    backdrop-filter: blur(0);
}
.note-book-box:hover {
    border-color: #f09819;
    backdrop-filter: blur(1.5px);
}

.note-book-drag:hover .note-book-box{
    border-color: #f09819;
}
.note-book-text {
    width: 100%;
    height: 100%;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    padding: 10px;
    box-sizing: border-box;
}
.note-book-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: transparent;
    resize: none;
    border: none;
    transition: color, background-color .5s;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    /*font-family: Akrobat-Black;*/
    font-family: smiley-sans;
    letter-spacing: .5px;
    text-shadow: inherit;
}
.note-book-textarea:hover{
    background-color: #ffffffc9;
    color: #202020;
}
.note-book-textarea:focus {
    outline: none;
}
.note-book-drag{
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    font-size: 14px;
    transition: all .4s;
    cursor: nwse-resize;
    background-repeat: no-repeat;
    background-image: linear-gradient(311deg, rgb(195, 70, 36) 50%, rgba(255, 255, 255, 0) 50%);
}
.blink-active{
    animation-name: blink;
    animation-duration: 3000ms;
    animation-fill-mode:none;
}
.note-book-box:hover .note-book-drag{
    opacity: 1;
}

.op-video-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.op-video {
    width: 30%;
}
